<mat-card *ngIf="device; else loading">
  <div class="mat-card-content">
    <mat-card-title>Zmień dane urządzania</mat-card-title>
    <mat-divider></mat-divider>
    <form (ngSubmit)="addDevice()" [formGroup]="devicEditForm">
      <mat-form-field class="pz-mat-form-field">
        <label for="name">Nazwa urządzenia</label>
        <input id="name" type="text" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="pz-mat-form-field">
        <label for="mac">Adres Mac</label>
        <input id="mac" type="text" matInput formControlName="macAdress">
      </mat-form-field>

      <button class="btn btn-sm btn-light">Zapisz</button>

    </form>
  </div>
</mat-card>

<ng-template #loading>
  <mat-card>
    <div class="mat-card-content">
        Loading ......
    </div>
  </mat-card>

</ng-template>
