/* You can add global styles to this file, and also import other style files */

body { margin: 0;}

.mat-card-content{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pz-mat-form-field{
    width: 100%;
  }

  input{
    width: 100%;
  }
}

.styled-mat-list{
  &:hover{
    background: #e0e0e0;
  }
}

